<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.veldsoft.share.with.us"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- TODO Add settings dialog with host option. -->
        <meta-data
            android:name="host"
            android:value="share.veldsoft.eu" />

        <receiver
            android:name=".NewMessageCheckReceiver"
            android:enabled="true"
            android:process=":remote" >
        </receiver>
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".NewMessageCheckService"
            android:exported="false" >

            <!-- TODO Add settings dialog with time out option. -->
            <meta-data
                android:name="activation_interval"
                android:value="3600000" />
            <meta-data
                android:name="name"
                android:value="NewMessageCheckService" />
            <meta-data
                android:name="script"
                android:value="new_message_check.php" />
        </service>

        <activity
            android:name=".LobbyActivity"
            android:label="@string/title_activity_lobby" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".RequestActivity"
            android:label="@string/title_activity_request" >
            <meta-data
                android:name="script"
                android:value="request.php" />
        </activity>
        <activity
            android:name=".JoinTeamActivity"
            android:label="@string/title_activity_join_team" >
            <meta-data
                android:name="script"
                android:value="join.php" />
        </activity>

        <!-- This activity should not start more than once simultaneously. -->
        <activity
            android:name=".AnswerMessageActivity"
            android:label="@string/title_activity_answer_message"
            android:launchMode="singleInstance" >
            <meta-data
                android:name="script"
                android:value="answer.php" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:noHistory="true" >
                        <meta-data
                android:name="timeout"
                android:value="5000" />
            <meta-data
                android:name="redirect"
                android:value="eu.veldsoft.share.with.us.LobbyActivity" />
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>